@font-face {
    font-family: 'Barnebok';
    src: url('BarnebokRegular.eot'); /* IE9 Compat Modes */
    src: url('BarnebokRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BarnebokRegular.woff') format('woff'), /* Modern Browsers */
         url('BarnebokRegular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}