@font-face {
    font-family: 'Barnebok';
    src: url('BarnebokBlack.eot'); /* IE9 Compat Modes */
    src: url('BarnebokBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BarnebokBlack.woff') format('woff'), /* Modern Browsers */
         url('BarnebokBlack.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}